.card-list {
    width: calc(100% - 200px);
    margin: auto;
    padding: 50px 0;
}

.card-list__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 30px;
    margin: 0;
    justify-content: center;
}

@media (max-width: 500px) {
    .card-list {
      width: calc(100% - 40px);
    }
}